.trans-font{
    font-family: 'Cabin', sans-serif;
    color: #231651;
}
.banner{
    background-image: url("../../img/courses/banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  right ;
}



