@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Cabin", sans-serif;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style cho các đối tượng được highlight */
.reactour__helper {
  border-radius: 5px;
}